.lists {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  align-content: center;
  gap: 2em;  
}
.lists a {
  text-decoration:none;
}
#title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}
#list1{ 
  color:white;
  font-size: 30px;
  display: flex;
  align-items:center;
  justify-content:center;
  background-image: url('../../assets/profilepicture.jpg');
  height: 100px;
  width: 550px;
  
}
#list2{
  color:white;
  font-size: 30px;
  display: flex;
  align-items:center;
  justify-content:center;
  background-image: url('../../assets/img2.jpg');
  height: 100px;
  width: 550px;
}
#list3{
  color:white;
  font-size: 30px;
  display: flex;
  align-items:center;
  justify-content:center;
  background-image: url('../../assets/img10.jpg' );
  height: 100px;
  width: 550px;
}

#list4{
  color:white;
  font-size: 30px;
  display: flex;
  align-items:center;
  justify-content:center;
  background-image: url('../../assets/img3.png');
  height: 100px;
  width: 550px;
}

#list5{
  color:rgb(33, 32, 32);
  font-size: 30px;
  display: flex;
  align-items:center;
  justify-content:center;
  background-image: url('../../assets/img4.png');
  height: 100px;
  width: 550px;
}
#list6{
  color:white;
  font-size: 30px;
  display: flex;
  align-items:center;
  justify-content:center;
  background-image: url('../../assets/img5.png');
  height: 100px;
  width: 550px;
}
#list7{
  color:white;
  font-size: 30px;
  display: flex;
  align-items:center;
  justify-content:center;
  background-image: url('../../assets/img6.png');
  height: 100px;
  width: 550px;
}
#list8{
  color:white;
  font-size: 30px;
  display: flex;
  align-items:center;
  justify-content:center;
  background-image: url('../../assets/img2.jpg');
  height: 100px;
  width: 550px;
}